:root {
  --max-width: 720px;

  color-scheme: light dark;
  --light-bg: #eeeeee;
  --light-text: #030723;
  --light-accent: #4f46e5;
  --dark-bg: #111111;
  --dark-text: #eeeeee;
  --dark-accent: #818cf8;
}

body {
  background: linear-gradient(135deg, #dae9ff, #d9e4f4);
}

main {
  background: rgb(245, 218, 236);
  padding: 40px;
  border-radius: 12px;
  max-width: 800px;
  margin: 40px auto;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

a {
  color: light-dark(var(--light-accent), var(--dark-accent));
}

span.tag {
  border: light-dark(var(--light-accent), var(--dark-accent)) 1px solid;
  border-radius: 0.5rem;
  padding: 0 0.2rem;
  margin: 0 0.2rem;
  font-size: 0.7rem;
}

span.date::before {
    content: "📅 "; /* Calendar emoji before the date */
}

span.author::before {
    content: "✍️ "; /* Pen emoji before the author */
}

.date, .author {
    font-size: 0.8rem;
    margin: 0;
}

p.summary {
    margin: 0;
    font-size: 0.9rem
}

ul.tags-list {
    padding: 0;
}

ul.post-list{
    list-style: none;
}
